<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Calculator</title>
  </head>
<!-- Body tag augmented with ngController directive  -->
 <body ng-controller="myController">
   <div class='wrapper'>
     <div class='display'><span>{{output}}</span></div>
     <div class='buttons'>
       <button ng-click="delete()">CE</button>
       <button ng-click="one()">1</button>
       <button ng-click="two()">2</button>
       <button ng-click="three()">3</button>
       <button ng-click="four()">4</button>
       <button ng-click="five()">5</button>
       <button ng-click="six()">6</button>
       <button ng-click="seven()">7</button>
       <button ng-click="eight()">8</button>
       <button ng-click="nine()">9</button>
       <button ng-click="zero()">0</button>
       <button ng-click="comma()">,</button>
       <button ng-click="add()">+</button>
       <button ng-click="diff()">-</button>
       <button ng-click="multi()">*</button>
       <button ng-click="divi()">/</button>
       <button ng-click="result()">=</button>
     </div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   <script src="controller.js"></script>
 </body>
</html>